.footer {
    @media (min-width: em(319.98)) {
        &__body {
            padding: rem(17) rem(17) rem(12) rem(17);
            background-color: #fff;
            border-radius: rem(17);
        }
        &__top {
          display: flex;
        }
        &__logo {
            flex: 1 1 auto;
            a {
              display: inline-block;
              width: 134px;
              height: 31px;
              position: relative;
              img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
            }
        }
    }
    @media (max-width: em(329.98)) {
      &__menu-link {
        font-size: rem(12) !important;
      }
    }
    @media (min-width: em(909.98)) {
      &__logo {
        margin-right: 31px;
      }
    }
    @media (max-width: em(909.98)) {
      &__logo {
        flex: 1 1 auto;
      }
      &__menu {
        width: auto !important;
        &-list {
          display: none;
        }
      }
    }

    &__menu {
      position: static !important;
      height: auto !important;
      display: block !important;
      padding: 0 !important;
      width: 100% !important;
      &-nav {
        display: flex;
        justify-content: flex-end;
      }
      &-list {
        flex: 1 1 auto;
        margin-right: 10px;
      }
      &-link {
        font-size: rem(13) !important;
        display: block !important;
        &_phone {
          font-weight: 600;
        }
        &:not(:last-child) {
          margin-bottom: rem(7);
        }
      }
    }

    &__container {
      max-width: 1130px !important;
    }

    &__policy {
      font-size: rem(9);
      text-decoration: underline;
      margin-left: rem(10);
      color: #000;
      @media (max-width: em(374.98)) {
          text-align: center;
          display: block;
          margin-top: rem(10);
      }
    }
}