.header {
  @media (min-width: em(319.98)) {
    & {
      margin-top: rem(28);
      &._scroll {
        margin-top: 0;
          .header__wrapper {
            position: fixed;
            top: 0;
            left: 0;
            background-color: $accentColor;
            padding: rem(15) rem(0);
            // animation: headerFixed 0.3s linear;
          }

      }
      &__container {
        transition: padding 0.2s ease;
      }
      &__block {
        margin-top: -34px;
        display: none;
      }
      &__wrapper {
        z-index: 50;
        width: calc(100% - rem(28));
        margin: 0 rem(14);
        padding: rem(15) rem(0) rem(15) rem(0);
        overflow: hidden;
        border-radius: rem(17);
        transition: background-color 0.2s ease-in-out;
      }
    
      &__body {
        min-height: rem(34);
        display: flex;
        align-items: center;
      }
    
      &__logo {
        flex: 1 1 auto;
        a {
          display: inline-block;
          width: 134px;
          height: 31px;
          position: relative;
          img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  @media (min-width: em(767.98)) {

  }
  @media (min-width: em(1099.98)) {
      &._scroll {
        .header__wrapper {
          left: 50% !important;
          transform: translateX(-50%);
          margin: 0;
        }
      }
      &__wrapper {
        max-width: 1100px;
        margin: 0 auto;
      }
  }

}

@keyframes headerFixed {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

// ====================================================Burger===================================================================


.menu__icon {
  z-index: 50;
  position: relative;
  width: rem(24);
  height: rem(20);
  cursor: pointer;
  @media (min-width: em(799.98)) {
    display: none;
  }
}

.menu__icon span,
.menu__icon::before,
.menu__icon::after {
  position: absolute;
  left: 0;
  height: 20%;
  width: 100%;
  transition: all 0.3s ease;
  background-color: #000;
  border-radius: 20px;
}

.menu__icon::before,
.menu__icon::after {
  content: "";
}

.menu__icon::before {
  top: 0;
}

.menu__icon::after {
  bottom: 0;
}

.menu__icon span {
  top: 50%;
  transform: translateY(-50%) scale(1);
}

.menu__icon._active span {
  transition: all 0.3s ease;
  transform: translateY(-50%) scale(0);
}
.menu__icon._active::before {
  top: 46%;
  transform: rotate(-45deg) translateY(-46%);
}

.menu__icon._active::after {
  bottom: 47%;
  transform: rotate(45deg) translateY(47%);
}